.saves/
.screenshots/
core/external/profile.json
core/external/user_settings.json
core/external/saves/

# Godot 4+ specific ignores
.godot/
.import/
export.cfg
export_presets.cfg

# Mono-specific ignores
.mono/
godot-old/
